@inherits LayoutComponentBase

<TelerikRootComponent>

    <div class="main">

        <div class="top-row">
            <h2 style="padding-left: 16px">Title</h2>
        </div>

        <div id="containerDiv">
            @Body
        </div>

    </div>

</TelerikRootComponent>

