@page "/"
@inject NavigationManager navigationManager
@inject SessionService sessionService
@inject IJSRuntime m_jsRuntime
@inject ICustomAuthService authService
@using System.Threading

<div class="login-div">
    <h3>Bejelentkezés</h3>

    <TelerikTextBox Width="200px" @bind-Value="FelhasznaloNev" Label="Felhasználó">
    </TelerikTextBox>

    <TelerikTextBox Width="200px" @bind-Value="Jelszo" Label="Jelszó">
    </TelerikTextBox>

    <TelerikButton class="button-primary login-button" @onclick="Bejelentkezes">Bejelentkezés</TelerikButton>
</div>


@code {

    public string FelhasznaloNev { get; set; }

    public string Jelszo { get; set; }


    public async void Bejelentkezes( )
    {
        var res = authService.TryLogin( FelhasznaloNev, Jelszo );

        if ( res != null )
        {
            string time = DateTime.Now.ToString( "yyyyMMddHHmmss" );

            var sessionId = m_jsRuntime.InvokeAsync<string>( "handleLogin", res.Username, res.JsModules, time );
            //ha azonnal akarunk modul-beli függvényt hívni, még nem biztos, hogy kész a kliens az importtal

            sessionService.LogInUser( sessionId.Result, res );
        }

        navigationManager.NavigateTo( "menu" );

    }
    protected override async Task OnAfterRenderAsync( bool first )
    {
        var a = 0;
    }




}
